
.right_blk{
    background-color: var(--black);
}
.left_blk{
    background-color: var(--white);
    padding-right: 0px;
    height: 100vh;
    overflow-y: auto;
}
.circle_white{
    height: 25px;
    width: 25px;
    background-color: var(--black);
    border-radius: 50%;
    display: inline-block;
    background-color: var(--white);
}
.circle_black{
    height: 25px;
    width: 25px;
    background-color: var(--black);
    border-radius: 50%;
    display: inline-block;
}
.main_head{
    border-bottom: 1px solid;
    padding: 30px;
    display: flex;
    align-items: center;
}
.main_head h2{
    font-size: 33px;
    line-height: 33px;
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: 0px;
    color: var(--black);

}
.main_blk{
    padding: 20px 30px;
    border-bottom: 1px solid;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    margin-bottom: 20px;
    justify-content: flex-start;
  
  }
  .checkbox-group > * {
    margin: 0.2rem 0.2rem;
    position: relative;
  }  
  .checkbox-input {
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .checkbox-input:checked + .checkbox-tile {
    border-color: var(--black);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: var(--black);
  }
  .checkbox-input:checked + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: var(--black);
    border-color: var(--black);
  }
  .checkbox-input:checked + .checkbox-tile .checkbox-icon, .checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: var(--white);
  }
  .checkbox-input:checked + .checkbox-tile{
    background-color: var(--black);
  }
  .checkbox-input:focus + .checkbox-tile {
    border-color: var(--black);
  }
  .checkbox-input:focus + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 13px;
    padding: 0 10px;
    border: 1px solid var(--black);
    background-color: var(--white);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
  }
  .checkbox-tile:hover {
    border-color: var(--black);
    background-color: var(--black);
  }
  .checkbox-tile:hover   .checkbox-label{
    color: var(--white);
  }
  .checkbox-tile:hover:before {
    transform: scale(1);
    opacity: 1;
  }
  .checkbox-label {
    color: var(--black);
    transition: 0.375s ease;
    text-align: center;
  }
  div.file {
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid;
    border-radius: 13px;
    color: #000;
    padding: 0 8px;
  }
 .file input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    
  }
  [type=text]{
    background: #fff;
    border: 1px solid;
    border-radius: 13px;
    color: #000;
    padding: 0 8px;
    
  }