<section class="main_sect">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-7 left_blk">
                <div class="main_head">
                    <span class="circle_black"></span> 
                    <h2>DESIGNER</h2>
                </div>
                <div class="main_blk">
                    <h1>Upload a photo _  step 01 </h1>
                    <div>   
                    </div>
                    <div class="d-flex">
                        <p>Begin your design journey by uploading a reference image. With just a few clicks, let's harness the power of AI to transform your space into something truly extraordinary. Together, we'll elevate your place to new heights of beauty and functionality, effortlessly blending creativity and technology.</p>
                        <div >
                            <img src="./assets/images/arrow.svg" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="main_blk">
                    <h1>Choose your space for transformation</h1>
                    <div>
                        <fieldset class="checkbox-group">
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Living Room" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Living Room  </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Bed Room" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Bed Room </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Kitchen" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Kitchen</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Bath Room" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Bath Room</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="exterior" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">exterior</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Multi Stories" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Multi Stories </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Office space" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Office space</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="TV Unit" checked />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">TV Unit</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Out door space" checked/>
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Out door space </span>
                                    </span>
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="d-flex">
                        <p>Select the area you want to enhance and let our AI work its magic. Whether it's an interior space or the exterior, we're here to bring your vision to life with precision and creativity.
                        </p>
                        <div >
                            <img src="./assets/images/arrow.svg" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="main_blk">
                    <h1>Choose Your Architectural Style</h1>
                    <div>
                        <fieldset class="checkbox-group">
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Modern" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Modern  </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Royal" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Royal </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Tropical" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Tropical</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Colonial " />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Colonial </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Indian" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Indian</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Arabian" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Arabian </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="South Asian " />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">South Asian </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="American" checked />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">American</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Japanese " checked/>
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Japanese  </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Minimal " checked/>
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Minimal  </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Japanese " checked/>
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Japanese  </span>
                                    </span>
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="d-flex">
                        <p>Tailor your design to match your aesthetic preferences by selecting from a range of architectural styles. Let's create a space that reflects your unique vision and personality.
                        </p>
                        <div >
                            <img src="./assets/images/arrow.svg" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="main_blk">
                    <div class="d-flex">
                        <p>Generating your image ...... </p>
                    </div>
                </div>
                <div class="main_blk">
                    <h1>Explore Featured Products </h1>
                    <div>
                        <fieldset class="checkbox-group">
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Tiles" />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Tiles  </span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" value="Furniture " />
                                    <span class="checkbox-tile">
                                        <span class="checkbox-label">Furniture  </span>
                                    </span>
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="d-flex">
                        <p>Discover the high-quality products used in your design. From flooring tiles to bathroom fixtures, explore our curated selection to bring your vision to life.</p>
                        <div >
                            <img src="./assets/images/arrow.svg" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-5 right_blk">
                <div class="main_head">
                    <span class="circle_white"></span> 
                    <h2>Home</h2>
                </div>
                <div class="main_content_blk">
                <div class="uploaded_img_block">
                    <img src="./assets/images/exterior_design.png" alt="uploaded_img" srcset="">
                </div>
                <div class="selected_img_type">
                <p>Exterior of design has selected </p>
                </div>
                <div class="transformation_choosed_blk">
                    <div class="transformation_images">
                    <img src="./assets/images/exterior_design.png" alt="uploaded_img" srcset="">
                    <img src="./assets/images/exterior_design.png" alt="uploaded_img" srcset="">
                    <img src="./assets/images/exterior_design.png" alt="uploaded_img" srcset="">
                </div>
                    <p>Modern + Indian + Tropical</p>
                </div>
                <div class="generated_img_blk">
                    <img src="./assets/images/exterior_design.png" alt="uploaded_img" srcset="">
                    <div class="shared_option">
                        <a href="#">Download</a>
                        <a href="#">Share</a>
                    </div>
                </div>
                <div class="explore_featured_blk">
                    <p class="pdb-60">Exterior of design has selected </p>
                    <div class="explore_featured_blk_list">
                        <div class="explore_featured_blk_item">
                        <img src="./assets/images/exterior_design.png" alt="uploaded_img" srcset="">
                        <a href="#">Tile1</a>
                        <p>Exterior of design has selected </p>
                        </div>
                        <div class="explore_featured_blk_item">
                        <img src="./assets/images/exterior_design.png" alt="uploaded_img" srcset="">
                        <a href="#">Tile2</a>
                        <p>Exterior of design has selected </p>
                    </div>
                    <div class="explore_featured_blk_item">
                        <img src="./assets/images/exterior_design.png" alt="uploaded_img" srcset="">
                        <a href="#">Tile3</a>
                        <p>Exterior of design has selected </p>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
